.loginCard {
    position: absolute;
    top: 20%;
    left: 34%;
    width: 30%;
    border-radius: 10px;
    border: solid;
    border-color: #ef5651;
}

.loginLogo {
    margin: auto;
    width: 30%;
}

.loginTitle {
    margin: auto;
    width: 80%;
}

.loginInput {
    margin: auto;
    width: 80%;
}

.registerCard {
    position: absolute;
    top: 20%;
    left: 34%;
    width: 30%;
    border-radius: 10px;
    border: solid;
    border-color: #ef5651;
}

.registerLogo {
    margin: auto;
    width: 30%;
}

.registerTitle {
    margin: auto;
    width: 80%;
}

.registerInput {
    margin: auto;
    width: 80%;
}

.addMovieCard {
    position: fixed;
    top: 20%;
    left: 34%;
    width: 30%;
    border-radius: 10px;
    border: solid;
    border-color: #ef5651;
}

.addMovieLogo {
    margin: auto;
    width: 30%;
}

.addMovieTitle {
    margin: auto;
    width: 80%;
}

.addMovieInput {
    margin: auto;
    width: 80%;
}

.navBar {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-bottom: 2px solid grey;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat';
}

.navBarLogo {
    margin-right: 100%;
    margin-top: 7%;
    width: 35%
    
}

.background {
    background: fixed;
    background-image:url(
    "./components/images/background.jpg");
    background-size: 2000px 1000px;
    height: 1000px;
    margin-top: -120px;
    background-repeat: no-repeat;
}

.homeComponent {
    position: absolute;
    color: white;
    top: 35%;
    left: 34%;
}

.contact {
    position: absolute;
}

.contactPosition {
    position: absolute;
    margin-top: 5%;
}

.contactTitle {
    position: absolute;
    color: white;
    font-family: 'DM-Sans';
    font-weight: bold;
    font-size: 40px;
    margin-top: 13%;
    margin-left: 44%
}

.contactTextLeft {
    white-space: 'nowrap';
    margin-top: 340px;
    margin-left: 470px;
    color: #ef5651;
    font-family: 'DM-Sans';
    font-weight: bold;
}

.contactTextRight {
    white-space: 'nowrap';
    margin-top: 340px;
    margin-left: 1200px;
    color: #ef5651;
    font-family: 'DM-Sans';
    font-weight: bold;
}


.topRated {
    width: 80%;
    position: absolute;
    color: white;
    margin-left: 10%;
    margin-top: 15%;
    display: flex;
}

.userProfile {
    position: absolute;
    margin-top: 5%;
    color: white;
    width: 60%;
}

.whiteBackground {
    background-color: rgba(255,255,255,0.5);
}

  