.loginCard {
    position: fixed;
    top: 20%;
    left: 34%;
    width: 30%;
    border-radius: 10px;
    border: solid;
    border-color: #00cfff;
}

.loginLogo {
    margin: auto;
    width: 30%;
}

.loginTitle {
    margin: auto;
    width: 80%;
}

.loginInput {
    margin: auto;
    width: 80%;
}

.registerCard {
    position: fixed;
    top: 20%;
    left: 34%;
    width: 30%;
    border-radius: 10px;
    border: solid;
    border-color: #00cfff;
}

.registerLogo {
    margin: auto;
    width: 30%;
}

.registerTitle {
    margin: auto;
    width: 80%;
}

.registerInput {
    margin: auto;
    width: 80%;
}

.addMovieCard {
    position: fixed;
    top: 20%;
    left: 34%;
    width: 30%;
    border-radius: 10px;
    border: solid;
    border-color: #00cfff;
}

.addMovieLogo {
    margin: auto;
    width: 30%;
}

.addMovieTitle {
    margin: auto;
    width: 80%;
}

.addMovieInput {
    margin: auto;
    width: 80%;
}

.navBar {
    margin-left: 7%;
    background-color: transparent;
    font-family: Times New Roman;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.navBarLogo {
    width: 30%;
    margin-top: 5%;
    margin-right: 100%;
    
}

.background {
    background: absolute;
    background-image:url(
    "./components/images/background.jpg");
    background-size: 2000px 1000px;
    height: 1000px;
    margin-top: -70px;
    background-repeat: no-repeat;
}

.homeComponent {
    position: absolute;
    color: white;
    top: 35%;
    left: 34%;
}

.contact {
    position: fixed;
    color: white;
    top: 35%;
    left: 34%;
    margin-right: 35%;
    border-radius: 10px;
    border: solid;
    border-color: #00cfff;
}

.topRated {
    width: 80%;
    position: absolute;
    color: white;
    margin-left: 10%;
    margin-top: 15%;
    border-radius: 10px;
    border: solid;
    border-color: #00cfff;
    display: flex;
}

.userProfile {
    position: absolute;
    margin-top: 5%;
    margin-left: 15%;
    color: white;
}